.button {
  font-weight: 600;

  width: 208px;
  height: 56px;
  border-radius: 12px;
  padding: 14px 24px;
  gap: 10px;

  background-color: var(--btn-primary-bg-enabled);
  color: var(--btn-primary-color-enabled);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

/* --- 상태 클래스 --- */
.enabled {
  background-color: var(--btn-primary-bg-enabled);
  color: var(--btn-primary-color-enabled);
}

.disabled {
  background-color: var(--btn-primary-bg-disabled);
  color: var(--btn-primary-color-disabled);
  cursor: not-allowed;
  opacity: 0.8;
}

.hover {
  background-color: var(--btn-primary-bg-hover);
}

.pressed {
  background-color: var(--btn-primary-bg-pressed);
}

.focus {
  background-color: var(--btn-primary-bg-focus);
  border: 2px solid var(--Purple-900);
}

/* --- 반응형 --- */
@media (max-width: 768px) {
  .button {
    width: 122px;
    height: 40px;

    border-radius: 6px;
    padding: 7px 16px;
    font-size: 14px;
  }
}