.wrapper {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
}

.reactionBadge {
  width: 66px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 32px;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.emoji {
  width: 20px;
  height: 20px;
}
.count {
  font-size: 16px;
  color: #ffffff;
}