* {
  box-sizing: border-box;
}
.container {
  position: relative;
  background-color: #ecd9ff;
  width: 275px;
  height: 260px;
  border-radius: 16px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  padding: 30px 24px 20px 24px;
  z-index: 0;
  overflow: hidden;
}
.containerShape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 142px;
  height: 142px;
  background-image: url('./assets/pattern_01.png');
  background-repeat: no-repeat;
  z-index: -1;
}
