.name {
  color: var(--gray-900);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  font-family: Pretendard, sans-serif;
}
.profileWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.profileImage {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  object-fit: cover;
  border: 1.5px solid var(--white);
  margin-left: -8px;
  position: relative;
}

.profileImage:first-child {
  margin-left: 0;
}

.profileCount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 28px;
  margin-left: -6px;
  position: relative;
  padding: 5px 6px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--white);
  border-radius: 30px;
  font-family: Pretendard, sans-serif;
}
.messageCount {
  padding: 12px 0 43px 0;
  font-size: 16px;
  line-height: 26px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  font-family: Pretendard, sans-serif;
}
.imageMode {
  color: var(--white);
}
.messageCountNumber {
  font-weight: 700;
}
.messageCountText {
  font-weight: 400;
}
