.container {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--gray-200);
  overflow: hidden;
  flex-shrink: 0;
}

<<<<<<< HEAD
.image{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
=======
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
>>>>>>> dev
