.header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ededed; /* 컬러 팔레트에 없는 색상 */
}

.headerContainer {
  display: flex;
  margin-top: 11px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 106px;
  height: 42px;
}

.button {
  width: 157px;
  height: 40px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  background-color: var(--white);
  cursor: pointer;
}