.card {
  width: 168px;
  height: 168px;
  border-radius: 16px;
  border: 1px solid var(--white);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 체크 이미지 중앙 배치 */
.check {
  width: 44px;
  height: 44px;
}

/* 이미지 모드에서 선택된 카드에만 적용 */
.card.imageSelected::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4); /* 흰색 반투명 오버레이 */
  border-radius: inherit;
  pointer-events: none;
}