.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 384px;
  height: 280px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  opacity: 0.8;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 1;
}
