.container {
  position: relative;
  width: 384px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 28px 24px;
  /* font-family: 'pretendard'; */
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
}

.senderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14px;
  font-size: 20px;
}

.sender {
  margin-bottom: 6px;
}

.senderName {
  font-weight: 700;
}

.deleteBtn {
  position: absolute;
  top: 28px;
  right: 24px;

  opacity: 0;
  transition: opacity 0.1s;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  background: none;
  cursor: pointer;

  z-index: 1000;
}

.container:hover .deleteBtn {
  opacity: 1;
}

.content {
  font-size: 18px;
  color: #4A4A4A;
  margin-top: 16px;
  margin-bottom: 16px;
  /* 임시 line-height 값 */
  line-height: 150%;
}

.createdAt {
  position: absolute;
  bottom: 24px;
  font-size: 12px;
  font-weight: 400;
  color:#999999;
}