:root {
  /* Purple */
  --purple-100: #F8F0FF;
  --purple-20: #ECD9FF;
  --purple-300: #DCB9FF;
  --purple-400: #C894FD;
  --purple-500: #AB57FF;
  --purple-600: #9935FF;
  --purple-700: #861DEE;
  --purple-800: #6E0AD1;
  --purple-900: #5603A7;

  /* Beige */
  --beige-100: #FFF0D6;
  --beige-200: #FFE2AD;
  --beige-300: #FFC583;
  --beige-400: #FFAE65;
  --beige-500: #FF8832;

  /* Blue */
  --blue-100: #E2F5FF;
  --blue-200: #B1E4FF;
  --blue-300: #7CD2FF;
  --blue-400: #34B9FF;
  --blue-500: #00A2FE;

  /* Green */
  --green-100: #E4FBDC;
  --green-200: #D0F5C3;
  --green-300: #9BE282;
  --green-400: #60CF37;
  --green-500: #2BA600;

  /* Gray */
  --gray-100: #F6F6F6;
  --gray-200: #EEEEEE;
  --gray-300: #CCCCCC;
  --gray-400: #999999;
  --gray-500: #555555;
  --gray-600: #4A4A4A;
  --gray-700: #3A3A3A;
  --gray-800: #2B2B2B;
  --gray-900: #181818;

  /* White & Black & Error & Surface */
  --white: #FFFFFF;
  --black: #121212;
  --error: #DC3A3A;
  --surface: #F6F8FF;
}