.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal {
  padding: 40px;
  width: 600px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.header {
  padding-bottom: 19px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.profileImg {
  width: 56px;
  height: 56px;
  background-color: red;
}
.name {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
}
.label {
  font-weight: 400;
  color: #000000;
  margin-right: 6px;
}
.username {
  font-weight: 700;
  color: #000000;
}
.badge {
  width: 41px;
  height: 20px;
  background-color: #f8f0ff;
  color: #9935ff;
  padding: 0 8px;
  font-size: 14px;
}
.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
}
.messageBox {
  height: 256px;
  box-sizing: border-box;
  padding-top: 16px;
}

.scrollArea {
  height: 100%;
  overflow-y: auto;
  padding-right: 16px;
  box-sizing: border-box;
}
.scrollArea::-webkit-scrollbar {
  width: 6px;
}

.scrollArea::-webkit-scrollbar-track {
  background: transparent;
}

.scrollArea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.message {
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 1.56;
}
.footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.button {
  width: 120px;
  height: 40px;
  background-color: #9935ff;
  color: #ffffff;
}
