.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal {
  box-sizing: border-box;
  padding: 40px;
  width: 600px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
