.badge {
  width: 40px;
  height: 20px;
  padding: 8px;
  border-radius: 4px;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing:-0.005em;
  text-align: center
}

.friend {
  color: var(--blue-500);
  background-color: var(--blue-100);
}

.colleague {
  color: var(--purple-600);
  background-color: var(--purple-100);
}

.family {
  color: var(--green-500);
  background-color: var(--green-100);
}

.acquaintance {
  color: var(--beige-500);
  background-color: var(--beige-100);
}