/* === 상태별 === */

.enabled {
  border: 1px solid #d1d1d1;
  color: #000000;
  background-color: #ffffff;
  opacity: 1;
}

.hover {
  border: 1px solid #c8c8c8;
  color: #000000;
  background-color: #f5f5f5;
  opacity: 1;
}

.pressed {
  border: 1px solid #c2c2c2;
  color: #000000;
  background-color: #eaeaea;
  opacity: 1;
}

.focus {
  border: 1px solid #000000;
  background-color: #ffffff;
  opacity: 1;
  outline: 2px solid #000000;
  outline-offset: 1px;
}

.disabled {
  border: 1px solid #d9d9d9;
  color: #ffffff;
  background-color: #d9d9d9;
  cursor: not-allowed;
  opacity: 1;
}

/* === 사이즈별 === */

.size50 {
  width: 192px;
  height: 56px;
  padding: 14px 16px;
  border-radius: 12px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  gap: 10px;
}


/* Outlined 40 */
.size40 {
  height: 40px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  gap: 10px;
}

/* Outlined 36 */
.size36 {
  height: 36px;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  gap: 10px;
}

/* Outlined 28 */
.size28 {
  height: 28px;
  padding: 2px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  gap: 10px;
}

.icon24 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.icon20 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}